.App-nav {
    background: linear-gradient(to bottom,#9DDE8B, #26865b 100%);
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: center;
    
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.App-nav a {
    padding: 0px 20px 5px 20px;
    font-weight: bolder;
    font-size:x-large;
    align-items: center;
    color: #092635;
    text-decoration: none;
}
.App-nav a:hover {
    color: #706c6c;
}
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 900px) {
    .App-nav {
        display: flex;
    }

    .menu-toggle {
        display: block;
        
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0;
        left: 0;
        width: 100%;       
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        width: 100%;
        padding: 0px 20px 5px 20px;
        font-weight: bolder;
        font-size:x-large;
        align-items: center;
        color: #092635;
        text-decoration: none;
    }
}