
.App {
  min-height: 100vh;
  background-color: #414b61;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  align-items: center;
  padding: 0 8vw;
  justify-content: space-between;
  text-shadow: 0 0 15px rgb(39, 104, 38);
  color: rgb(235, 235, 235);
}

.App-header h1 {
  margin-right: 10px
}

.logo {
  max-width: 40vw;
  height: auto;
}

.App-header p {
  margin-left: 2vw;
}

.App-main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(246, 246, 246);
  border: 2px solid #155b37;
}

.App-nav {
  background-color: #155b37;
}

.App-nav a{
  padding: 0px 20px 5px 20px;
  font-weight: bolder;
  font-size:x-large;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.App-nav a:hover {
color: #282c34;

}
@media (max-width:768px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    width: 80vw;
  }

  .App-nav{
    flex-direction: column;
    align-items: flex-start;
  }

  .App-main {
    flex-direction: column;
    align-items: flex-start;
  }
}


.App-link {
  color: #61dafb;
}

h1, h2 {
  text-align: center;
  padding: 1rem;
}
/* 
Table Design
5/14/2024
Borrowed design elements from:
https://devdevout.com/css/css-tables
Author: Zach Saffrin
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plantTable {
  background: #155b37;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  text-align: center;
  
}
.plantTable th {
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
.plantTable td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  border: 1px solid black;
}
.disabled td {
  color: #4F5F64;
}
.plantTable tbody tr {
  transition: background 0.25s ease;
}
.plantTable tbody tr:hover {
  background: #53727f;
}

